<h1><%=@meetup.name%></h1>

<ul>

  <li>
    Description: <%= @meetup.description %>
  </li>

  <li>
    Location: <%= @meetup.location %>
  </li>

  <li>
  Creator: <%= @meetup.creator %>
  </li>
</ul>

<% if current_user.nil? %>
<a type="button" href="/auth/github">Sign in to Join Meetup!</a>
  <!-- <input type="button" value="Sign in to Join Meetup!" id="joinMeetup"/> -->
<% else %>
  <input type="button" value="JOIN MEETUP" id="joinMeetup"/>
<% end %>

<h3>Member List</h3>
<hr>
<ul class="memberList">
  <% @memberlist.each do |member| %>
  <li>
    <img src="<%= member.avatar_url %>" class="avatar"><%= member.username %>
  </li>
  <% end %>
</ul>
