<h1><%=@meetup.name%></h1>

<ul>

  <li>
    Description: <%= @meetup.description %>
  </li>

  <li>
    Location: <%= @meetup.location %>
  </li>

  <li>
  Creator: <%= User.find(@meetup.creator_id).username %>
  </li>
</ul>

<% if current_user.nil? %>
  <form action="/join/<%= @meetup.id %>" method="POST">
      <button name="joinMeetup" value="JOIN MEETUP">JOIN MEETUP</button>
  </form>
<% elsif !@memberships.include?(session[:user_id])  %>
  <form action="/join/<%= @meetup.id %>" method="POST">
      <button name="joinMeetup" value="JOIN MEETUP">JOIN MEETUP</button>
  </form>
<% else %>
  <form action="#" method="#">
      <button name="leaveMeetup" value="LEAVE MEETUP">LEAVE MEETUP</button>
  </form>
<% end %>

<h3>Member List</h3>
<hr>
<ul class="memberList">
  <% if @memberships.empty? %>
    <h2>No members to display</h2>
  <% else %>
    <% @memberships.each do |member| %>
      <li><img src="<%= member.user.avatar_url %>" class="avatar"> user: <%= member.user.username %></li>
    <% end %>
  <% end %>
</ul>
